/* Start All Page */
/* #437DBC */
body {
    font-family: "Rokkitt Thinn" !important;
    color: white;
}

.tables {
    border-bottom: 1px solid grey;
}

.tiket {
    background-image: url(/img/ticket.jpg);
    color: black !important;
    border-radius: 20px;
    border-right: black 2px dashed;
    min-height: 300px;
    padding: 30px;
}

a.no-link {
    color: black !important;
    text-decoration: none !important;
    transition: all 1s;
}

.checked {
    color: orange !important;
}

.link:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 5px white;
    transition: all 1s;
}

.bg {
    background-color: rgba(0, 0, 0, 0.7);
}

.black {
    color: black !important;
}

.color {
    /* background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(45, 253, 247, 0) 100%); */
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6278886554621849) 59%, rgba(0, 212, 255, 0) 100%);
}

.box {
    padding: 20px;
    border-radius: 20px;
    box-shadow: black 0px 0px 10px;
    margin-bottom: 20px;
}

.cari {
    border-radius: 20px;
    box-shadow: black 0px 0px 10px;
    margin-bottom: 20px;
}

.btn.btn-success.cari {
    margin-left: 10px;
}

.back {
    background-image: url(/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img {
    height: 500px;
}

nav.navbar {
    position: absolute;
    margin: auto 0;
    width: 100%;
    top: 0;
    z-index: 100;
}

.page {
    padding-top: 70px !important;
    min-height: 80.5vh;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    /* line-height: 27px; */
    letter-spacing: 0.075em;
}

.title {
    margin-top: 100px;
    font-size: 65px;
    font-weight: 900;
}

.title-home {
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 65px;
    font-weight: 900;
}

.space {
    margin-bottom: 50vh;
}

p {
    margin-bottom: 3px;
}

footer {
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    color: white;
    position: relative;
    bottom: 0;
    z-index: 100;
    background-color: rgb(51, 51, 51);
    height: 80px;
    width: 100%;
}

@font-face {
    font-family: "Rokkitt Thinn";
    src: url(../font/Rokkitt.ttf);
}

/* End All Page */

/* ==== Start Dekstop Layout ==== */

/* Start login style */
.massage {
    position: relative;
    display: block;
    margin: 10px auto;
    text-align: center;
    z-index: 2;
}

.new-chat-window {
    position: relative;
    width: 400px;
    height: 40px;
    line-height: 40px;
    background: #9FADBC;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: block;
    margin: 10px auto;
    text-align: center;
    z-index: 2;
}

.new-chat-window .fa {
    position: absolute;
    top: 10px;
    left: 15px;
    font-weight: bold;
    font-style: normal;
}

input:focus {
    outline-color: white;
    box-shadow: 0px 0px 10px rgb(105, 253, 37) !important;
}

.new-chat-window-input {

    border: 1px solid #ccc;
    background-color: transparent;
    width: 400px;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    width: 100%;
    z-index: 1;
    border-radius: 20px;
}

.new-chat-window-input-select {
    border: 1px solid #ccc;
    background-color: transparent;
    width: 400px;
    height: 40px;
    /* line-height: 40px; */
    padding-left: 40px;
    width: 100%;
    z-index: 1;
    border-radius: 20px;
}

.banner {
    margin: auto 0;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 600px;
    height: 300px;
    background: url(/img/bali.png);
    border-radius: 10px;
}

/* .login {
    position: absolute;
    width: 400px;
    height: 169px;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
} */

.forget {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: all;
    transition-duration: 1s;
}

.forget:hover {
    color: rgb(52, 218, 52);
    transition: all;
    transition-duration: 1s;
}

form {
    text-align: center;
}

/* input {
    border: 1px solid #ccc;
    padding: 12px 20px;
    width: 400px;
    height: 40px;
    background: #9FADBC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
} */

.label {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn.btn-info {
    width: 105px;
    border-radius: 20px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    transition: all;
    transition-duration: 1s;
}

.btn.btn-info:hover {
    box-shadow: 0px 0px 10px rgb(52, 218, 52);
    background-color: rgb(52, 218, 52);
    transition: all;
    transition-duration: 1s;
}

.form-group.mb-3.p-4 {
    background-color: rgb(235, 235, 235) !important;
    border-radius: 20px;
    color: black;
}

/* ==== End Dekstop Layout ==== */

/* ==== Start Smartphone Layout ==== */
@media (max-width: 768px) {
    .hp {
        display: none;
    }

    .banner {
        margin: auto 0;
        left: 50%;
        top: 43%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 330px;
        height: 169px;
        /* background: url(/img/Warna-Abu-Abu.jpg); */
        background-position: center;
        background-size: cover;
        border-radius: 10px;
    }

    /* .login {
        position: absolute;
        width: 330px;
        height: 169px;
        left: 50%;
        top: 75%;
        transform: translate(-50%, -50%);
    } */

    .new-chat-window {
        position: relative;
        width: 315px;
        height: 40px;
        line-height: 40px;
        background: #9FADBC;
        box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        display: block;
        margin: 10px auto;
        text-align: center;
        z-index: 2;
    }

    .new-chat-window .fa {
        position: absolute;
        top: 10px;
        left: 15px;
        font-weight: bold;
        font-style: normal;
    }

    input:focus {
        outline-color: white;
        box-shadow: 0px 0px 10px rgb(105, 253, 37) !important;
    }

    .new-chat-window-input {
        border: 1px solid #ccc;
        background-color: transparent;
        width: 315px;
        height: 40px;
        line-height: 40px;
        padding-left: 40px;
        width: 100%;
        z-index: 1;
        border-radius: 20px;
    }

    .new-chat-window-input-select {
        border: 1px solid #ccc;
        background-color: transparent;
        width: 315px;
        height: 40px;
        /* line-height: 40px; */
        padding-left: 40px;
        width: 100%;
        z-index: 1;
        border-radius: 20px;
    }

    /* input {
        padding: 12px 20px;
        width: 315px;
        height: 40px;
        background: #9FADBC;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    } */

    .title-home {
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 45px;
        font-weight: 900;
    }

    .img {
        height: 200px;
    }
}

/* ==== End Smartphone Layout ==== */
